<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>client欢迎您</title>
    <link href="/client/css/index.css" rel="stylesheet" />
</head>
<body>
    <h3>看到本页面说明单点登录成功，可以通过cookie访问client</h3>
    <h3>access_token：<span class="btn" onclick="getToken()">getToken</span></h3>
    <div id="access-token"></div>
    <h3>resource_info：<span class="btn" onclick="getResourceInfo()">getResourceInfo</span></h3>
    <div id="resource-info"></div>
<script src="/client/js/index.js"></script>
</body>
</html>