.btn {
    color: #666;
    padding: 2px;
    cursor: pointer;
    font-weight: normal;
    font-size: medium;
}

.btn:hover {
    text-decoration: underline;
}

#access-token, #resource-info {
    margin: 0 2em;
    word-wrap: break-word;
}

#project-wrapper {
    margin-top: 2em;
}

#project-wrapper a:nth-child(n + 1) {
    margin-left: 2em;
}

